<div class="main">

    <div class="mainContainer">
        <img src="assets/img/ITSON_azul.png" alt="Logo ITSON">
        <h2>SISTEMA DE CREACIÓN DE HORARIO</h2>


        <div class="msgError" *ngIf="errorMsg"> {{errorMsg}} </div>
        <input type="text" placeholder="Ingrese ID ITSON de 11 digitos" [(ngModel)]="id" (ngModelChange)="verifyInput($event)"/>
        <input type="password" placeholder="Ingrese contraseña" [(ngModel)]="password" />
        <button (click)="submit()">CONEXIÓN</button>

        <div class="recuperar">
            <strong>¿Has olvidado tu </strong>
            <a id="recuperarDatos"
                href="http://smartweb1.itson.edu.mx:8700/psp/ITSONPRD/EMPLOYEE/HRMS/c/MAINTAIN_SECURITY.EMAIL_PSWD.GBL?FolderPath=PORTAL_ROOT_OBJECT.PT_TOOLS_HIDDEN.PT_EMAIL_PSWD_GBL&IsFolder=false&IgnoreParamTempl=FolderPath%2cIsFolder"
                target="_blank"> Usuario / Contraseña?</a>
        </div>
        <a id="avisoPrivacidad" href="https://www.itson.mx/micrositios/transparencia/Paginas/avisos-de-privacidad.aspx"
            target="_blank">AVISO DE PRIVACIDAD</a>

        
    </div>

</div>
