.main {
    background-color: #186db7;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .mainContainer{
    background-color: #BFDDF8;
    width: 50vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -1px 2px 45px -6px rgba(0,0,0,0.83);
    font-family: 'Segoe UI';
}

.recuperar{
    display: flex;
    flex-direction: row;
    margin: 20px auto 0 auto;
    font-weight: bold;
    font-size: 1rem;
}

#avisoPrivacidad{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: bold;
    color: #337ab7;
    font-size: 1rem;
    text-decoration: none;
}

img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

h2 {
    color: #046DB5;
    margin: 5vh auto;
    font-size: 1.3rem;
    font-weight: 500;
}

input{
    font-size: 13px;
    line-height: 1.5;
    display: block;
    width: 75%;
    margin: 0 auto 15px auto;
    background: white;
    height: 45px;
    border-radius: 25px;
    border: none;
    padding-left: 25px;
    padding-right: 30x;
}

button{
    padding: 0 30px;
    line-height: 1.5;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    border-radius: 25px;
    background: #09F;
    border: none;
    width: fit-content;
    margin: 0 auto;
}

#recuperarDatos{
    margin-left: 6px;
    color: #0179ca;
    text-decoration: none;
}

#recuperarDatos:hover{
    color: #23527c;
    text-decoration: underline;
}

#avisoPrivacidad:hover{
    color: #23527c;
    text-decoration: underline;
}

div.msgError{
    width: 80%;
    margin: 0 auto 20px auto;
    text-align: center;
}