.main {
    background-color: #186db7;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-color: #BFDDF8;
    width: 90vw;
    height: 90vh;
    display: flex;
    border-radius: 10px;
    box-shadow: -1px 2px 45px -6px rgba(0,0,0,0.83);
    font-family: 'Segoe UI';
    overflow: hidden;

    .lateral{
        background-color: #186db7;
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-right: 4vh;
        padding-left: 4vh;
    
        img{
            width: 15vh;
            margin-top: 5vh;
        }
    
        h1{
            color: white;
            font-size: 10vh;
            line-height: 78px;
        }
    }

    .content{
        padding-top: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        padding-bottom: 5vh;
    
        .header{
            display: flex;
            width: 73vw;
            height: 15vh;
            flex-wrap: wrap;
            justify-content: space-between;

            .infoInstituto{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .telefono{
                display: flex;
            }
        
            img{
                height: 11vh;
            }

            h4{
                margin: 0;
                border-bottom: 2px solid #C9B94D;
                font-size: 22px;
            }

            p{
                line-height: 19px;
                margin: 0px;
                font-size: 13px;
            }

            #departamento{
                margin-bottom: 1vh;
                font-size: 15.6px;
            }

            #nombreDocente{
                font-size: 15.6px;
            }

            .horario{

                overflow: auto;
                height: 59vh;
                width: 73vw;
    
                table{
                    empty-cells: hide;
                    margin-top: 3vh;
                    border-collapse: separate;
                    border-spacing: 6px 6px;
                }
                
                tr{
                    height: 2vh;
                }
    
                th{
                    background-color: #1B6EB9;
                    color: white;
                    border: 1px solid black;
                    width: 12vw;
                }
    
                td{
                    text-align: center;
                    border: 1px solid black;
                    width: 12vw;
                }
    
                .asesoria{
                    background-color: #471AC7;
                    color: white;
                }
    
                .clase{
                    background-color: #F5E552;
                }
    
                .preparacion{
                    background-color: #BC54CF;
                    color: white;
                }
    
                .gestion{
                    background-color: #267A0D;
                    color: white;
                }
    
                .investigacion{
                    background-color: #267A0D;
                    color: white;
                }
    
                .departamento{
                    background-color: #000000;
                    color: white;
                }
    
            }
        
        }

        
    
    }
}