<div class="main">

    <div class="mainContainer" [ngClass]="{'printable': printing}">

        <div class="lateral">

            <img src="../../../assets/img/PI_negativo.png" (click)="navigate('home')" class="pointer">
            <h1>Ho <br> ra <br> rio.</h1>

        </div>

        <div class="content">

            <div class="header">

                <img src="../../../assets/img/ITSON_azul.png" alt="ITSON logo">
                <div class="infoInstituto">

                    <h4>Instituto Tecnológico de Sonora</h4>
                    <p id="departamento">DEPARTAMENTO DE {{profesor.department}}</p>
                    <p id="nombreDocente">{{profesor.honorific}} {{profesor.firstName}} {{profesor.lastName}}</p>
                    <p id="correo">{{profesor.email}}</p>
                    <div class="telefono">
                        <p>Tel. {{profesor.telephone}} Ext.</p>
                        <p id="extencionDocente">{{profesor.extension}}</p>
                    </div>
                    <p id="cicloEscolar">{{profesor.scheduleToProgram[0].semester}}</p>
                </div>

            <div class="horario" *ngIf="eventSettings">
                <ejs-schedule #scheduleObj [eventSettings]="eventSettings" #scheduleObj endHour='20:00' #scheduleObj startHour='8:00' #scheduleObj currentView='WorkWeek'
                #scheduleObj [showHeaderBar]=false #scheduleObj [showTimeIndicator]=false>
                    
                </ejs-schedule>

            </div>
            
            <th><button class="printSchedule" (click)=imprimirHorario()>Imprimir Horario</button>
            
            </th>
            <div>

        </div>
    

    </div>

</div>