.main {
    background-color: #186db7;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-color: #BFDDF8;
    width: 90vw;
    height: 90vh;
    display: flex;
    border-radius: 10px;
    box-shadow: -1px 2px 45px -6px rgba(0,0,0,0.83);
    font-family: 'Segoe UI';
    overflow: hidden;

    .lateral{
        background-color: #186db7;
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-right: 4vh;
        padding-left: 4vh;
    
        img{
            width: 15vh;
            margin-top: 5vh;
        }
    
        h1{
            color: white;
            font-size: 10vh;
            line-height: 78px;
        }
    }
    
    .content{
        width: clac(90% -18vh);
        padding-top: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        padding-bottom: 5vh;
    
        .header{
            display: flex;
            width: 100%;
            height: 15vh;
            flex-wrap: wrap;
            justify-content: space-between;

            .infoInstituto{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .telefono{
                display: flex;
            }
        
            img{
                height: 11vh;
            }

            h4{
                margin: 0;
                border-bottom: 2px solid #C9B94D;
                font-size: 22px;
            }

            p{
                line-height: 19px;
                margin: 0px;
                font-size: 13px;
            }

            #departamento{
                margin-bottom: 1vh;
                font-size: 15.6px;
                text-transform: uppercase;
            }

            #nombreDocente{
                font-size: 15.6px;
            }
            button {
                border: 2px solid #186db7;
                border-radius: 20px;
                padding: 10px 0;
                color: #186db7;
                font-weight: bold;
                margin: 10px 0;
                width: 60%;
                font-size: .9rem;
            }
            .horario{

                overflow: auto;
                height: 59vh;
                width: 73vw;
                margin-top: 3vh;
    
            }
        
        }      
    
    }
}