<div class="main">

    <div class="mainContainer">

        <div class="lateral">

            <img src="../../../assets/img/PI_negativo.png" alt="ITSON logo circular ">
            <h1>Ho <br> ra <br> rio.</h1>

        </div>

        <div class="content">

            <div class="header">

                <img src="../../../assets/img/ITSON_azul.png" alt="ITSON logo">
                <div class="infoInstituto">

                    <h4>Instituto Tecnológico de Sonora</h4>
                    <p id="departamento">DEPARTAMENTO DE {{profesor.department}}</p>
                    <p id="nombreDocente">{{profesor.honorific}} {{profesor.firstName}} {{profesor.lastName}}</p>
                    <p id="correo">{{profesor.email}}</p>
                    <div class="telefono">
                        <p>Tel. {{profesor.telephone}} Ext.</p>
                        <p id="extencionDocente">{{profesor.extension}}</p>
                    </div>
                    <p id="cicloEscolar">Enero - Mayo 2020</p>
                </div>

            <div class="horario" *ngIf="eventSettings">
                <ejs-schedule #scheduleObj [eventSettings]="eventSettings" #scheduleObj endHour='17:00' #scheduleObj startHour='8:00' #scheduleObj currentView='WorkWeek'
                #scheduleObj [showHeaderBar]=false #scheduleObj [showTimeIndicator]=false>
                    
                </ejs-schedule>

            </div>
            
            <th><button (click)=imprimirHorario()>Imprimir Horario</button>
            
                <button  (click)=alertaHoras(41)>Verificar Horas</button>
               <!--
                   {{professor.horas}}
                <h1 *ngIf="horasE ; else elseBlock">
                    <p>
                        Horas Extra: 5**{{profesor.Horas}}
    
                    </p>
                </h1>
    
                <ng-template #elseBlock>
                    <h1>
                        <p>Horas Programadas: 40**{{profesor.Horas}}
                        </p>
                       
                    </h1>
                </ng-template> 
                -->
            </th>
            <div>

        </div>
    

    </div>

</div>